{% extends 'base.html.twig' %}

{% block title %}Hello SearchRouteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div>{{ dump(route) }}</div>
    {{dump(routeBySection)}}
    {% for route in routeBySection %}
        <h2>{{ route.section_name }}</h2>
        <table>
            <tr>
                <th>出発</th>
                <th>到着</th>
            </tr>
            {% for schedule in route.schedules %}
                <tr>
                    <td>{{ "%02d"|format(schedule.startHour) }}:{{ "%02d"|format(schedule.startMinute) }}</td>
                    <td>{{ "%02d"|format(schedule.endHour) }}:{{ "%02d"|format(schedule.endMinute) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/cajiya-nakamura/Laboratory/SymfonySeaRoute/src/Controller/SearchRouteController.php</code></li>
        <li>Your template at <code>/Users/cajiya-nakamura/Laboratory/SymfonySeaRoute/templates/search_route/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
