{% extends 'base.html.twig' %}

{% block title %}航路{% endblock %}

{% block body %}
    <h1>航路</h1>

    <a href="{{ path('app_route_new') }}" class="btn btn-primary mb-2">新規作成</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>出発</th>
                <th>到着</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td>{{ route.departPort.name }}</td>
                <td>{{ route.arrivalPort.name }}</td>
                <td>
                    <a href="{{ path('app_route_show', {'id': route.id}) }}" class="btn btn-outline-secondary mb-2">表示</a>
                    <a href="{{ path('app_route_edit', {'id': route.id}) }}" class="btn btn-outline-secondary mb-2">編集</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
