{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <h1>Vehicle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.name }}</td>
                <td>
                    <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}" class="btn btn-outline-secondary mb-2">表示</a>
                    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}" class="btn btn-outline-secondary mb-2">編集</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_new') }}" class="btn btn-primary mb-2">新規作成</a>
{% endblock %}
