{% extends 'base.html.twig' %}

{% block title %}港{% endblock %}

{% block body %}
    <h1>港 <small>Port</small></h1>

    <a href="{{ path('app_port_new') }}" class="btn btn-primary mb-2">新規作成</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for port in ports %}
            <tr>
                <td>{{ port.id }}</td>
                <td>{{ port.name }}</td>
                <td>
                    <a href="{{ path('app_port_show', {'id': port.id}) }}" class="btn btn-outline-secondary mb-2">表示</a>
                    <a href="{{ path('app_port_edit', {'id': port.id}) }}" class="btn btn-outline-secondary mb-2">編集</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
