{% extends 'base.html.twig' %}

{% block title %}RouteCategory{% endblock %}

{% block body %}
    <h1>RouteCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ route_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ route_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_route_category_index') }}" class="btn btn-outline-secondary mb-2">一覧</a>

    <a href="{{ path('app_route_category_edit', {'id': route_category.id}) }}" class="btn btn-outline-secondary mb-2">編集</a>

    {{ include('route_category/_delete_form.html.twig') }}
{% endblock %}
